@import "reset.css";

html {
  background: url("img/bg.png") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

body {
  font-family: 'GFS Didot', serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.soon {
  font-size: 36px;
  text-align: center;
  display: block;
  margin-top: 10%;
}
.main {
  background-color: white;
  height: 90%;
  width: 90%;
}
